.textBox {
	width: 100%;
	background: #ffffff;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 6px 10px 7px 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #8a8f9c;

	&:focus {
		outline: none;
	}
}

.inputBorder {
	border: 1px solid #e5e5e5;
}
