.loginControl {
	.loggedInUserContainer {
		display: flex;
		align-items: center;
		.loggedInUser {
			padding-right: 15px;
			color: red;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			// font-size: 13px;
		}
	}
}
