.assetList {
.container{
	margin: 15px 0;
	width: 100%;
	justify-content: right;
	display: flex;
}


	.rowItem {
		display: flex;
		align-items: center;
		margin-top: 15px;
	}

	.assetIcon {
		height: 30px;
		width: 30px;
		margin-right: 10px;
	}

	.assetSymbol {
		margin-left: 10px;
		color: gray;
	}
}
